@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: #ffffff;
  --ui-bg: #ffffff;
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);
  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-900);
  --ui-radius: 0.2rem;
  --ui-corner-shape: superellipse(1.4);
  --font-sans: 'Sen', sans-serif;
  --font-serif: 'Georgia', Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'SFMono-Regular', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

.dark {
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-300);
  --ui-text-toned: var(--ui-color-neutral-200);
  --ui-text: #ffffff;
  --ui-text-highlighted: #ffffff;
  --ui-text-inverted: #ffffff;
  --ui-bg: var(--ui-color-slate-900);
  --ui-bg-muted: var(--ui-color-slate-800);
  --ui-bg-elevated: var(--ui-color-slate-700);
  --ui-bg-accented: var(--ui-color-slate-600);
  --ui-bg-inverted: var(--ui-color-slate-500);
  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-800);
  --ui-border-accented: var(--ui-color-neutral-700);
  --ui-border-inverted: var(--ui-color-neutral-800);
  --ui-radius: 0.25rem;
  --ui-corner-shape: superellipse(1);
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Georgia', Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'SFMono-Regular', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

/* Custom Colors */
:root {
  --color-lavender-50: #f7f5fa;
  --color-lavender-100: #efebf4;
  --color-lavender-200: #dad1e6;
  --color-lavender-300: #bbaad0;
  --color-lavender-400: #977cb6;
  --color-lavender-500: #967BB6;
  --color-lavender-600: #705095;
  --color-lavender-700: #4f386b;
  --color-lavender-800: #39294c;
  --color-lavender-900: #251b31;
  --color-lavender-950: #191221;
}

html, body {
  background-color: var(--ui-bg);
  color: var(--ui-text);
  font-family: var(--font-sans, ui-sans-serif);
}
code, pre, kbd, samp {
  font-family: var(--font-mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
}
* {
  corner-shape: var(--ui-corner-shape, superellipse(1));
}
